<%= form.fields_for :custom_fields_rights do |field| %>
  <%= field.hidden_field :role_id %>
  <tr>
    <td>
      <%= field.object.role %>
    </td>
    <% if params[:custom_field] && params[:custom_field][:custom_fields_rights_attributes]
           rights = params[:custom_field][:custom_fields_rights_attributes].find { |e| e[1]['role_id'] == field.object.role.id.to_s }
           rights = rights[1]['rights'] if rights
       end %>
    <td>
      <%= field.radio_button :rights, '1', checked: rights == '1' %>
    </td>
    <td>
      <%= field.radio_button :rights, '2', checked: rights == '2' %>
    </td>
    <td>
      <%= field.radio_button :rights, '0', checked: (rights == '0') || !%w(1 2).include?(rights) %>
    </td>
  </tr>
<% end %>
