<%= form.fields_for :custom_fields_rights do |field| %>
  <%= field.hidden_field :role_id %>
  <tr>
    <td>
      <%= field.object.role %>
    </td>
      <% rights = field.object.rights.to_s %>
    <td>
      <%= field.radio_button :rights, '1', checked: rights == '1' %>
    </td>
    <td>
      <%= field.radio_button :rights, '2', checked: rights == '2' %>
    </td>
    <td>
      <%= field.radio_button :rights, '0', checked: (rights == '0') || !%w(1 2).include?(rights) %>
    </td>
  </tr>
<% end %>
